comment "Hisense product Infomation"
config MACH_HISENSE_SMARTPHONE
	bool "HISENSE SMARTPHONE"
	default n
	help
	  Support for the hisense samrtphone board.

config HISENSE_VENDOR_NAME
	depends on MACH_HISENSE_SMARTPHONE
	string "Hisense vendor info"
	default ""
	help
	  The vendor name of product.

config HISENSE_PRODUCT_NAME
	depends on MACH_HISENSE_SMARTPHONE
	string "Hisense product info"
	default ""
	help
	  The product name.

config HISENSE_PRODUCT_PLATFORM
	depends on MACH_HISENSE_SMARTPHONE
	string "Hisense product platform"
	default ""
	help
	  The platform of product.

config SAVE_AWAKEN_EVENT
	depends on MACH_HISENSE_SMARTPHONE
        bool "save the current awaken event"
	default y
	help
	  enable save the current awaken event
	  if unsure, say N

config HIDE_COMPILE_HOST
	bool "set LINUX_COMPILE_HOST to a fixed string"
	depends on MACH_HISENSE_SMARTPHONE
	default n
	help
	  To hide the real compile host name, if unsure, say N.

config HISENSE_RESTART_MODEM
	bool "Hisense restart modem subsystem by ap"
	depends on HISENSE_DEBUG_CTRL
	default n
	help
	  Provide a node to restart modem by ap.
