
### Hisense product infomation configuriton
CONFIG_HISENSE_VENDOR_NAME="Hisense"
CONFIG_HISENSE_PRODUCT_NAME="l762"
CONFIG_HISENSE_PRODUCT_PLATFORM="sdm450"

### Hisense LCD configuriton
CONFIG_BL_I2C=y
CONFIG_BL_I2C_CURRENT_SET=y
CONFIG_ASYNC_UNBLANK_FB=y

### Fingerprint configuriton
CONFIG_FP_REPORT_WAKEUP_KEY=y
CONFIG_HS_FINGERPRINT=y
CONFIG_FINGERPRINT_CHIPONE=y
CONFIG_SAVE_AWAKEN_EVENT=y


### Hisense TP configuriton
# CONFIG_CHIPONE_TDDI_TOUCHSCREEN is not set
# CONFIG_CHIPONE_TDDI_HAS_RESET_PIN is not set
# CONFIG_CHIPONE_TDDI_GESTURE is not set
# CONFIG_CHIPONE_TDDI_INCELL_CHIP is not set
# CONFIG_CHIPONE_TDDI_GLOVE is not set
# CONFIG_CHIPONE_TDDI_CHARGER_DETECT is not set
CONFIG_TOUCHSCREEN_FT5X06=y
# CONFIG_FT_INCELL_CHIP is not set
# CONFIG_TOUCHSCREEN_FT5X06_GESTURE is not set
# CONFIG_TOUCHSCREEN_FT5X06_GESTURE_DRIVER is not set
# CONFIG_TOUCHSCREEN_FACE_DETECTION is not set
CONFIG_TOUCHSCREEN_FT5X06_GLOVE=y
CONFIG_TOUCHSCREEN_FT5X06_GFF_PANNEL=y
# CONFIG_TOUCHSCREEN_FT5X06_HALL is not set
# CONFIG_TOUCHSCREEN_FT5X06_PRAMUPDATE is not set
CONFIG_TOUCHSCREEN_FT5X06_APK_TEST=y
# CONFIG_TOUCHSCREEN_FT5X06_SUB is not set
# CONFIG_FT_SECURE_TOUCH is not set
CONFIG_TOUCHSCREEN_USB_CHECK=y
CONFIG_TOUCHSCREEN_FT5X06_FH=y
CONFIG_TOUCHSCREEN_WORK_MODE=y
### Hisense Charger configuriton
# CONFIG_QPNP_FG is not set
# CONFIG_QPNP_FG_GEN3 is not set
# CONFIG_SMB135X_CHARGER is not set
# CONFIG_SMB1355_SLAVE_CHARGER is not set
# CONFIG_SMB1351_USB_CHARGER is not set
# CONFIG_QPNP_SMB2 is not set
CONFIG_QPNP_SMB5=y
# CONFIG_SMB138X_CHARGER is not set
# CONFIG_QPNP_SMBCHARGER is not set
# CONFIG_QPNP_QNOVO is not set
# CONFIG_QPNP_TYPEC is not set
CONFIG_QPNP_QG=y
CONFIG_HISENSE_CHARGE_FG_FUNCTION=y
CONFIG_USB_EXT_TYPE_C_WUSB3801=y
CONFIG_HISENSE_SGM2540=y
# CONFIG_DUAL_ROLE_USB_INTF is not set

### Hisense Sensors configuriton
CONFIG_SENSORS=y
CONFIG_HS_SNS_ACC=y
# CONFIG_HS_SNS_AP_ACC is not set
CONFIG_HS_SNS_ADSP_ACC=y
CONFIG_ACC_SENSOR_VENDOR="BOSCH"
CONFIG_ACC_SENSOR_TYPE="BMI160"
CONFIG_HS_SNS_MAG=y
# CONFIG_HS_SNS_AP_MAG is not set
CONFIG_HS_SNS_ADSP_MAG=y
CONFIG_MAG_SENSOR_VENDOR="AKM"
CONFIG_MAG_SENSOR_TYPE="AK09918"
CONFIG_HS_SNS_GYRO=y
# CONFIG_HS_SNS_AP_GYRO is not set
CONFIG_HS_SNS_ADSP_GYRO=y
CONFIG_GYRO_SENSOR_VENDOR="BOSCH"
CONFIG_GYRO_SENSOR_TYPE="BMI160"
CONFIG_HS_SNS_ALS_PS=y
# CONFIG_HS_SNS_CM36686 is not set
# CONFIG_HS_SNS_CM32183 is not set
# CONFIG_HS_SNS_ELAN_ALSPS is not set
CONFIG_HS_SNS_STK3X1X=y
# CONFIG_HS_SNS_SAR is not set
# CONFIG_HS_SNS_A96T346 is not set
# CONFIG_HS_SNS_CM3232 is not set
# CONFIG_HS_SNS_UV is not set
# CONFIG_HS_SNS_BARO is not set
# CONFIG_HS_SNS_TEM_HUM is not set
CONFIG_HS_SNS_STEP=y
### Hisense Camera configuriton
CONFIG_HMCT_CAMERA_DEBUG=y
CONFIG_HMCT_LOW_BATTERY_FLASH_CTL=y
CONFIG_HMCT_ACTUATOR_POWERDOWN_MORESTEP=y
### add by gao

CONFIG_USELESS_RES_RECLAIM=y
CONFIG_HISENSE_SMART_SHRINK=y
CONFIG_HISENSE_SWAPPINESS_OPT=y
### NXP NFC-PN553
CONFIG_HISENSE_NFC_PN547=y

###for cpu freezer
CONFIG_HS_CGF_NOTIFY_EVENT=y
###unmovable isolate
CONFIG_HISENSE_UNMOVABLE_ISOLATE=y
CONFIG_HISENSE_UNMOVABLE_ISOLATE1_SIZE_MBYTES=256
CONFIG_HISENSE_UNMOVABLE_ISOLATE2_SIZE_MBYTES=64

CONFIG_HISENSE_SILENCE_REBOOT=y
