config SUBSYS_ERR_REPORT
	bool "report subsystem failed event by uevent"
	depends on HISENSE_PRODUCT_DEVINFO
	default n
	help
	  Enable it when collect the subsystem state report
	  if unsure, say N

config ABNORMAL_STATS
	bool "statistics the abnormal reboot"
	depends on SUBSYS_ERR_REPORT
	default n
	help
	  record the abnormal reboot count and last reason

config ABNORMAL_STATS_SAVE_FILE
	bool "save abnormal reboot reason string to file"
	depends on ABNORMAL_STATS
	default n
	help
	  If set Y, save abnormal reboot reason to /kdebuginfo/rs_recorder/reboot_stats

